*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 70px;
}

#color{
    color: #ff8778;
    font-style: italic;
    font-size: 30px;
}

#color-blue{
    color: darkblue;
}

#display{
    display: block;
}

body{
    padding: 60px;
}

#size1{
    font-size: 20px;
}

#size2{
    font-size: 20px;
}

.block{
    display: flex;
    margin: auto;
    gap: 20px;
}

#float{
    text-align: right;
}